{% extends "entity_page.html" %}

{% block page %}




<div class="page-body" id="docs-frame">
    <div class="doc-grid">

        {% for doc in docs %}

        <div class="doc-item">

            <h3>
                <a href="/document/{{ doc.id }}" hx-get="/document/{{ doc.id }}" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">
                    {{ doc.title }}
                </a>
            </h3>
            <p>
                {{ doc.description }}
            </p>
            <p>
                {{ doc.content | length }} steps
            </p>
        </div>

        {% endfor %}
    </div>
    <div>

        <button hx-get="/document/new" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">
            Add Document
        </button>

    </div>
</div>

{% endblock page %}
